version: "3"
services:
  web:
    build:
      context: ./web
    image: klamp-web
    ports: 
      - 80:80
    privileged: true
    links:
      - db
    volumes:
      - "./html/:/var/www/html"
      # - "./web/httpd.conf:/etc/httpd/conf/httpd.conf"
      # - "./web/php.ini:/etc/opt/remi/php73/php.ini"
    container_name: "klamp-web"
    hostname: "klamp-web"
  db:
    image: mysql:5.7
    volumes: 
      # - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      # - ./db/mysql_init:/docker-entrypoint-initdb.d
      - ./db/mysql_data:/var/lib/mysql
    ports:
      - 3333:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
    container_name: "klamp-db-57"
    hostname: "klamp-db"
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - 8903:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    container_name: "klamp-phpmyadmin-la"